@page
@model APPJPG.Pages.Client.IndexModel
@{
}

<br>
<h2> List Clients </h2>
<a class="btn btn-primary" href="/Client/Created" >New Client </a>

<table class="table">
    <thead>
        <tr>
                <th>ID</th>
                <th>NOME</th>
                <th>EMAIL</th>
                <th>DATANASCIMENTO</th>
                <th>RENDA</th>
                <th>CPF</th>
                <th>Create_at</th>
                <th>ACTION</th>

        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.listClients)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.email</td>
                <td>@item.dataNacimento</td>
                <td>@item.renda</td>
                <td>@item.cpf</td>
                <td>@item.create_at</td>               
                  <td>
                    <a class="btn btn-primary btn-sm" href="/Client/Edit?id=@item.id">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Client/Delete?id=@item.id">Delete</a>
                 </td>
            </tr>
        }

    </tbody>
</table>